{% extends 'main/layout.html' %}

{% block title %}
	Физтех.Радио
{% endblock %}

{% block content %}
	<div class="features">
		<h1>{{ title }}</h1>
		<ul>
			{% for el in values %}
				<li> {{el}} </li>
			{% endfor%}
		</ul>
		<p>Алекса́ндр Степа́нович Попо́в (4 марта 1859, Турьинские рудники, Пермская губерния — 31 декабря 1905 [13 января 1906], Санкт-Петербург) — русский физик и электротехник, первый российский радиотехник, основатель радиотехнической научной школы, профессор (1901), изобретатель в области радиосвязи, Почётный инженер-электрик (1899), статский советник (1901).</p>

		<p>Нико́ла Те́сла (серб. Никола Те́сла, англ. Nikola Tesla; 10 июля 1856, Смилян, Госпич, Австрийская империя — 7 января 1943, Нью-Йорк, США) — сербско-американский инженер и учёный-физик, изобретатель в области электротехники и радиотехники. Некоторые современники-биографы называют Теслу «человеком, который изобрёл XX век» и «святым заступником» современного электричества.</p> 
		<button class="btn btn-danger">Нести hv</button>
	</div>
{% endblock %}