{% extends 'main/layout.html' %}

{% block title %}
	Физтех.Радио
{% endblock %}

{% block content %}
	<div class="features">
		<h1>{{ title }}</h1>
		<iframe id="embed_player" frameborder="0" width="280" height="216" src="https://phystech.airtime.pro/embed/player?stream=auto&skin=1"></iframe>
		<p>Ра́дио (лат. radiare, radio — испускать, облучать, излучать во все стороны; radius — луч), также радиосвязь — способ передачи сообщений на расстояние посредством радиоволн, а также область науки и техники, связанная с изучением физических явлений, лежащих в основе этого способа, и с его использованием для связи, звукового вещания, передачи изображений, сигнализации, контроля и управления, обнаружения различных объектов и определения их местоположения и для других целей.
		
		Термин «радио» впервые ввёл в обращение английский физик-химик Уильям Крукс приблизительно в 1873 году, то есть примерно за 20 лет до первых практических опытов по беспроводной телеграфной связи посредством электромагнитных волн и за 30 лет до появления международных рекомендаций по использованию этого термина в данной области науки и техники. </p>
		<button class="btn btn-warning" src="https://phystech.airtime.pro/embed/player?stream=auto&skin=2" >Слушать онлайн</button>
		
	</div>
{% endblock %}